/* main css */
/* font: Noto Sans(latin) */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0OIpQlx3QUlC5A4PNr4ARCQ_k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0TIpQlx3QUlC5A4PNr4AyxYOyDzW0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjFhdVZNyB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0TIpQlx3QUlC5A4PNr4AydZ-yDzW0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjOhBVZNyB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0TIpQlx3QUlC5A4PNr4Az5ZuyDzW0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

/* font: Cairo(latin) */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v22/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hNI-a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

/* font: Fira Mono(latin) */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firamono/v14/N0bX2SlFPv1weGeLZDtgJv7S.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans';
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #000;
}

.btn {
  border: none;
  background: #1d1d1d;
  color: #fff;
  padding: 0 20px;
  height: 43px;
  border-radius: 100px;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
  transition: all .2s;
  box-shadow: 0px 10px 25px #bdc2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 6px;
}

.btn:active {
  outline: none;
  transform: scale(0.98);
  box-shadow: 0px 0px 0px #bdc2ff;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  padding: 10px;
}

.hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 100px;
  animation: slideBottom 1s ease forwards;
}

.hdr .logo h1 {
  font-size: 37px;
  font-family: 'Cairo';
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.hdr .logo span {
  color: #919af7;
}

.hdr .act {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* .hdr .act a:nth-child(1) {
  color: #000;
  text-decoration: none;
  font-size: 14px;
} */

/* .hdr .act a:nth-child(1):hover {
  text-decoration: underline;
} */

.hero {
  margin-top: 60px;
  padding: 0 160px;
  margin-bottom:50px;
}

a {
  font-weight: normal !important;
}

.hro {
  max-width: 500px;
}

.hero .hro h1 {
  font-size: 35px;
  margin-bottom: 10px;
  animation: slideRight 1s ease forwards;
}

.hero .hro p {
  animation: slideRight 1s ease forwards;
}

.hero .hro h1 span,
.afBg {
  position: relative;
}

.hero .hro h1 span::before,
.afBg::before {
  position: absolute;
  content: '';
  background: #bdc2ff;
  height: 100%;
  width: 100%;
  z-index: -1;
  rotate: -2deg;
  opacity: .8;
}

.afBg::before {
  width: 105px;
}

.hero .emailF {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  animation: slideLeft 1s ease forwards;
}

.hero .emailF .btn {
  box-shadow: none;
}

.hero .emailF .btn:active {
  box-shadow: 0px 10px 20px #bdc2ff;
}

.btn-outline {
  background: transparent;
  color: #000;
  text-decoration: underline;
  transition: transform .2s, background-color .2s;
}

.btn-outline:active {
  box-shadow: 0px 0px 0px !important;
  /* text-shadow: 0px 10px 20px #bdc2ff; */
}

.hero .emailF p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  opacity: .7;
  font-weight: 700;
  text-decoration: underline;
}

input {
  border: 1px solid #1d1d1d;
  border-radius: 100px;
  padding: 0px 15px;
  height: 40px;
  font-size: 15px;
  background: #fffdfc;
}

input:focus {
  outline-color: #919af7;
}

.line {
  z-index: -1;
  background: #98a0fc;
  height: 5px;
  width: 100%;
}

.skills {
  padding: 0 120px;
  margin-top: 90px;
  margin-bottom: 70px;
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
}

.flex {
  display: flex;
}

.bv::before {
  width: 96px !important;
}

.bvs::before {
  width: 70px !important;
}

.frontE,
.backE {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.frontE p,
.backE p {
  animation: slideLeft 1s ease forwards;
  color: #000;
  font-size: 95%;
  opacity: .9;
  text-shadow: 0px 30px 30px #bdc2ff;
}

.fe,
.be,
.de {
  display: grid;
  gap: 20px;
}

.anvb {
  animation: slideRight 1s ease forwards;
}

.ftr {
  height: 140px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  animation: slideTop 1s ease forwards;
}

.ftr ul {
  display: grid;
  gap: 5px;
}

.ftr ul li {
  list-style: none;
}

.ftr ul li a {
  color: #000;
  font-size: 14px;
  text-decoration: underline !important;
}

.ftr p {
  font-size: 14px;
  opacity: .7;
  color: #000;
  text-shadow: 0px 10px 20px #bdc2ff;
}

.project {
  padding: 0 120px;
  margin-top: 50px;
  display: grid;
  gap: 40px;
}

.project .flex {
  animation: slideLeft 1s ease forwards;
}

.project .afBg::before {
  width: 89px;
}

.project .prjtin {
  display: flex;
  gap:23px;
  flex-wrap: wrap;
}

.project .prjt {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 15px;
  border-radius: 8px;
  animation: slideRight 1s ease forwards;
  background: #fff;
}

.project .prjt .thumbnail {
  height: 185px;
  width: 268px;
  border-radius: 10px;
  opacity: .8;
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.project .prjt h1 {
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
  text-shadow: 0px 20px 20px #bdc2ff;
}

.project .prjt p {
  font-size: 14px;
  opacity: .9;
  text-shadow: 0px 20px 20px #bdc2ff;
}

.thumb {
  position: relative;
}

.thumb a {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  box-shadow: none;
  text-decoration: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 10px;
  background: #fff;
  color: #000;
}

.thumb .lng {
  position: absolute;
  left: 10px;
  bottom: 22px;
  z-index: 10;
  display: flex;
  gap: 10px;
}

.thumb .lng span {
  font-size: 13px;
  box-shadow: none;
  text-decoration: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 100px;
  background: #fff;
  color: #000;
  display: grid;
  place-items: center;
  opacity: .8;
}

.cont .flex .afBg::before {
  width: 140px;
}
.cont .flex{
  animation: slideLeft 1s ease forwards;
}
.cont {
  padding: 0 160px;
  margin-top: 50px;
}

.cont ul {
  display: flex;
  gap: 13px;
}

.cont ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.cont ul li a {
  padding: 0px 15px;
  max-width: fit-content;
  height: 40px;
  border-radius: 10px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.whatsapp {
  background: rgb(2, 114, 2) !important;
}

.insta {
  background: radial-gradient(circle farthest-corner at 0% 150%,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 12%,
      rgb(250, 145, 55) 25%,
      rgb(235, 65, 65) 41%,
      transparent 95%),
    linear-gradient(-15deg, rgb(35, 75, 215) -10%, rgb(195, 60, 190) 65%);
  background-size: 120% 120%;
}

.emails {
  background: #000 !important;
}

form {
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  max-width: 400px;
}

form button {
  width: 100%;
}

form .flex {
  gap: 10px;
}

.cntt {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  max-width: 400px;
  /* margin-bottom: 50px; */
}

.cntt .btn {
  box-shadow: none;
  animation: slideLeft 1s ease forwards;
}

.cntt p {
  font-size: 95%;
  opacity: .9;
  text-shadow: 0px 30px 30px #bdc2ff;
  animation: slideRight 1s ease forwards;
}

.cntt .flex {
  display: flex;
  gap: 8px;

}
.cntt .flex .btn{
  width: 100%;
}

textarea,
input {
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 5px;
  resize: vertical;
  padding: 12px 15px;
  font-size: 14px;
}

textarea:focus,
input:focus {
  outline-color: #919af7;
}

@media screen and (max-width:1210px) {
  .project {
    padding: 0 120px;
  }
}

@media screen and (max-width:1051px) {
  .project {
    padding: 0 120px;
  }
}

@media screen and (max-width:700px) {
  .skills {
    grid-template-columns: auto;
  }

  .frontE {
    align-items: center;
    justify-content: space-between;
  }

  .backE {
    align-items: center;
    justify-content: space-evenly;
  }

}


@media screen and (max-width:987px) {

  .hero,
  .cont {
    padding: 0 100px;
  }

  .skills,
  .project {
    padding: 0 80px;
  }

  .project .prjtin {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:800px) {

  .hero,
  .cont {
    padding: 0 80px;
  }

  .skills,
  .project {
    padding: 0 70px;
  }

  .project .prjtin {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:700px) {
  .project .prjtin {
    grid-template-columns: auto;
  }

  .project .prjtin .prjt {
    width: 100%;
  }

  .project .prjtin .prjt .thumbnail {
    width: 100%;
  }
}

@media screen and (max-width:600px) {

  .hero,
  .cont {
    padding: 0 40px;
  }

  .skills,
  .project {
    padding: 0 40px;
  }

  .project .prjtin {
    grid-template-columns: auto;
  }

  .hdr .act {
    gap: 20px;
  }
}

@media screen and (max-width:437px) {
  .hero .emailF p {
    display: none;
  }

  .ftr {
    display: grid;
    grid-template-columns: auto;
    gap: 0;
  }

  .ftr ul {
    margin-bottom: -10px !important;
  }
}

@media screen and (max-width:360px) {
  .hdr {
    padding: 0 27px;
  }

  .hero,
  .cont {
    padding: 0 27px;
  }

  .skills,
  .project {
    padding: 0 27px;
  }
}

@keyframes slideBottom {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
